DocConvert/obj/**
DocConvert/bin/**
DocCompareWPF/bin/**
DocCompareWPF/obj/**
DocCompareDLL/obj/**
DocCompareDLL/bin/**
Installer/**
InstallerApp/bin/**
InstallerApp/obj/**
InstallerAppMM/bin/**
InstallerAppMM/obj/**
.vs/**
.vs/DocCompareWPF/v16/.suo
.vs/DocCompareWPF/v16/.suo
.vs/DocCompareWPF/DesignTimeBuild/.dtbcache.v2
.vs/DocCompareWPF/v16/.suo
*.v2
.vs/DocCompareWPF/v16/.suo
